#!name=蜂鸟骑士 卡密验证绕过
#!desc=绕过7c云网络验证，重写notice响应为已授权
#!author=WorkBuddy
#!homepage=https://github.com/402971561/congenial-octo-doodle
#!raw-url=https://raw.githubusercontent.com/402971561/congenial-octo-doodle/main/7ccc-bypass.snippet
#!date=2026-08-23

^https?://api[0-9]*\.?7ccccccc\.com/.* script-response-body https://raw.githubusercontent.com/402971561/congenial-octo-doodle/main/7ccc-bypass.js

hostname = *.7ccccccc.com
