^https?://api[0-9]*\.?7ccccccc\.com/.* script-response-body https://raw.githubusercontent.com/402971561/congenial-octo-doodle/main/7ccc-bypass.js
^https?://[a-z0-9\-\.]*7ccccccc\.com/.* script-response-body https://raw.githubusercontent.com/402971561/congenial-octo-doodle/main/7ccc-bypass.js
